<div class="product-container"  >
  <a routerLink="/products/details/{{ product.id }}"
  ><img class="product-image" src="{{ product.url }}"
/></a>
<h6>{{ product.name }}</h6>
<p>{{ product.price | currency }}</p>
 <select class="select-input" [(ngModel)]="quantity"  >
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
</select>
<button class="btn btn-primary" (click)="addToCart()"  >Add to cart</button>
</div>
